/*
 * 1Fonts v1.0 - Persian Web Fonts.
 *
 * 1Fonts is a Persian fonts gallery for web developers.
 * All fonts optimized and fixed issues for using in web.
 * 
 * Copyright 2012-2013 Ali Mihandoost (i@ali.md) Under MIT-License
 * 
 * http://alimd.github.io/1fonts
 *
 */
@font-face{font-family:'badr';src:url("fonts/badr.eot");src:local('B Badr'),url("fonts/badr.woff") format('woff'),url("fonts/badr.ttf") format('truetype');font-weight:normal;font-style:normal}
.badr{font-family:'B Badr',badr,Verdana,Geneva,sans-serif}
@font-face{font-family:'baran';src:url("fonts/baran.eot");src:local('B Baran'),url("fonts/baran.woff") format('woff'),url("fonts/baran.ttf") format('truetype');font-weight:normal;font-style:normal}
.baran{font-family:'B Baran',baran,Verdana,Geneva,sans-serif}
@font-face{font-family:'bardiya';src:url("fonts/bardiya.eot");src:local('B Bardiya'),url("fonts/bardiya.woff") format('woff'),url("fonts/bardiya.ttf") format('truetype');font-weight:normal;font-style:normal}
.bardiya{font-family:'B Bardiya',bardiya,Verdana,Geneva,sans-serif}
@font-face{font-family:'compset';src:url("fonts/compset.eot");src:local('B Compset'),url("fonts/compset.woff") format('woff'),url("fonts/compset.ttf") format('truetype');font-weight:normal;font-style:normal}
.compset{font-family:'B Compset',compset,Verdana,Geneva,sans-serif}
@font-face{font-family:'davat';src:url("fonts/davat.eot");src:local('B Davat'),url("fonts/davat.woff") format('woff'),url("fonts/davat.ttf") format('truetype');font-weight:normal;font-style:normal}
.davat{font-family:'B Davat',davat,Verdana,Geneva,sans-serif}
@font-face{font-family:'elham';src:url("fonts/elham.eot");src:local('B Elham'),url("fonts/elham.woff") format('woff'),url("fonts/elham.ttf") format('truetype');font-weight:normal;font-style:normal}
.elham{font-family:'B Elham',elham,Verdana,Geneva,sans-serif}
@font-face{font-family:'esfehan';src:url("fonts/esfehanbold.eot");src:local('B Esfehan'),url("fonts/esfehanbold.woff") format('woff'),url("fonts/esfehanbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.esfehan{font-family:'B Esfehan',esfehan,Verdana,Geneva,sans-serif}
@font-face{font-family:'fantezy';src:url("fonts/fantezy.eot");src:local('B Fantezy'),url("fonts/fantezy.woff") format('woff'),url("fonts/fantezy.ttf") format('truetype');font-weight:normal;font-style:normal}
.fantezy{font-family:'B Fantezy',fantezy,Verdana,Geneva,sans-serif}
@font-face{font-family:'farnaz';src:url("fonts/farnaz.eot");src:local('B Farnaz'),url("fonts/farnaz.woff") format('woff'),url("fonts/farnaz.ttf") format('truetype');font-weight:normal;font-style:normal}
.farnaz{font-family:'B Farnaz',farnaz,Verdana,Geneva,sans-serif}
@font-face{font-family:'ferdosi';src:url("fonts/ferdosi.eot");src:local('B Ferdosi'),url("fonts/ferdosi.woff") format('woff'),url("fonts/ferdosi.ttf") format('truetype');font-weight:normal;font-style:normal}
.ferdosi{font-family:'B Ferdosi',ferdosi,Verdana,Geneva,sans-serif}
@font-face{font-family:'hamid';src:url("fonts/hamid.eot");src:local('B Hamid'),url("fonts/hamid.woff") format('woff'),url("fonts/hamid.ttf") format('truetype');font-weight:normal;font-style:normal}
.hamid{font-family:'B Hamid',hamid,Verdana,Geneva,sans-serif}
@font-face{font-family:'helal';src:url("fonts/helal.eot");src:local('B Helal'),url("fonts/helal.woff") format('woff'),url("fonts/helal.ttf") format('truetype');font-weight:normal;font-style:normal}
.helal{font-family:'B Helal',helal,Verdana,Geneva,sans-serif}
@font-face{font-family:'homa';src:url("fonts/homa.eot");src:local('B Homa'),url("fonts/homa.woff") format('woff'),url("fonts/homa.ttf") format('truetype');font-weight:normal;font-style:normal}
.homa{font-family:'B Homa',homa,Verdana,Geneva,sans-serif}
@font-face{font-family:'jadid';src:url("fonts/jadidbold.eot");src:local('B Jadid'),url("fonts/jadidbold.woff") format('woff'),url("fonts/jadidbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.jadid{font-family:'B Jadid',jadid,Verdana,Geneva,sans-serif}
@font-face{font-family:'jalal';src:url("fonts/jalal.eot");src:local('B Jalal'),url("fonts/jalal.woff") format('woff'),url("fonts/jalal.ttf") format('truetype');font-weight:normal;font-style:normal}
.jalal{font-family:'B Jalal',jalal,Verdana,Geneva,sans-serif}
@font-face{font-family:'koodak';src:url("fonts/koodakbold.eot");src:local('B Koodak'),url("fonts/koodakbold.woff") format('woff'),url("fonts/koodakbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.koodak{font-family:'B Koodak',koodak,Verdana,Geneva,sans-serif}
@font-face{font-family:'kourosh';src:url("fonts/kourosh.eot");src:local('B Kourosh'),url("fonts/kourosh.woff") format('woff'),url("fonts/kourosh.ttf") format('truetype');font-weight:normal;font-style:normal}
.kourosh{font-family:'B Kourosh',kourosh,Verdana,Geneva,sans-serif}
@font-face{font-family:'lotus';src:url("fonts/lotus.eot");src:local('B Lotus'),url("fonts/lotus.woff") format('woff'),url("fonts/lotus.ttf") format('truetype');font-weight:normal;font-style:normal}
.lotus{font-family:'B Lotus',lotus,Verdana,Geneva,sans-serif}
@font-face{font-family:'mahsa';src:url("fonts/mahsa.eot");src:local('B Mahsa'),url("fonts/mahsa.woff") format('woff'),url("fonts/mahsa.ttf") format('truetype');font-weight:normal;font-style:normal}
.mahsa{font-family:'B Mahsa',mahsa,Verdana,Geneva,sans-serif}
@font-face{font-family:'mehr';src:url("fonts/mehrbold.eot");src:local('B Mehr'),url("fonts/mehrbold.woff") format('woff'),url("fonts/mehrbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.mehr{font-family:'B Mehr',mehr,Verdana,Geneva,sans-serif}
@font-face{font-family:'mitra';src:url("fonts/mitra.eot");src:local('B Mitra'),url("fonts/mitra.woff") format('woff'),url("fonts/mitra.ttf") format('truetype');font-weight:normal;font-style:normal}
.mitra{font-family:'B Mitra',mitra,Verdana,Geneva,sans-serif}
@font-face{font-family:'morvarid';src:url("fonts/morvarid.eot");src:local('B Morvarid'),url("fonts/morvarid.woff") format('woff'),url("fonts/morvarid.ttf") format('truetype');font-weight:normal;font-style:normal}
.morvarid{font-family:'B Morvarid',morvarid,Verdana,Geneva,sans-serif}
@font-face{font-family:'narm';src:url("fonts/narm.eot");src:local('B Narm'),url("fonts/narm.woff") format('woff'),url("fonts/narm.ttf") format('truetype');font-weight:normal;font-style:normal}
.narm{font-family:'B Narm',narm,Verdana,Geneva,sans-serif}
@font-face{font-family:'nasim';src:url("fonts/nasimbold.eot");src:local('B Nasim'),url("fonts/nasimbold.woff") format('woff'),url("fonts/nasimbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.nasim{font-family:'B Nasim',nasim,Verdana,Geneva,sans-serif}
@font-face{font-family:'nazanin';src:url("fonts/nazanin.eot");src:local('B Nazanin'),url("fonts/nazanin.woff") format('woff'),url("fonts/nazanin.ttf") format('truetype');font-weight:normal;font-style:normal}
.nazanin{font-family:'B Nazanin',nazanin,Verdana,Geneva,sans-serif}
@font-face{font-family:'roya';src:url("fonts/roya.eot");src:local('B Roya'),url("fonts/roya.woff") format('woff'),url("fonts/roya.ttf") format('truetype');font-weight:normal;font-style:normal}
.roya{font-family:'B Roya',roya,Verdana,Geneva,sans-serif}
@font-face{font-family:'setareh';src:url("fonts/setarehbold.eot");src:local('B Setareh'),url("fonts/setarehbold.woff") format('woff'),url("fonts/setarehbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.setareh{font-family:'B Setareh',setareh,Verdana,Geneva,sans-serif}
@font-face{font-family:'shiraz';src:url("fonts/shiraz.eot");src:local('B Shiraz'),url("fonts/shiraz.woff") format('woff'),url("fonts/shiraz.ttf") format('truetype');font-weight:normal;font-style:normal}
.shiraz{font-family:'B Shiraz',shiraz,Verdana,Geneva,sans-serif}
@font-face{font-family:'sina';src:url("fonts/sinabold.eot");src:local('B Sina'),url("fonts/sinabold.woff") format('woff'),url("fonts/sinabold.ttf") format('truetype');font-weight:normal;font-style:normal}
.sina{font-family:'B Sina',sina,Verdana,Geneva,sans-serif}
@font-face{font-family:'tabassom';src:url("fonts/tabassom.eot");src:local('B Tabassom'),url("fonts/tabassom.woff") format('woff'),url("fonts/tabassom.ttf") format('truetype');font-weight:normal;font-style:normal}
.tabassom{font-family:'B Tabassom',tabassom,Verdana,Geneva,sans-serif}
@font-face{font-family:'tehran';src:url("fonts/tehran.eot");src:local('B Tehran'),url("fonts/tehran.woff") format('woff'),url("fonts/tehran.ttf") format('truetype');font-weight:normal;font-style:normal}
.tehran{font-family:'B Tehran',tehran,Verdana,Geneva,sans-serif}
@font-face{font-family:'titr';src:url("fonts/titrbold.eot");src:local('B Titr'),url("fonts/titrbold.woff") format('woff'),url("fonts/titrbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.titr{font-family:'B Titr',titr,Verdana,Geneva,sans-serif}
@font-face{font-family:'titrtge';src:url("fonts/titrtgebold.eot");src:local('B Titr TG E'),url("fonts/titrtgebold.woff") format('woff'),url("fonts/titrtgebold.ttf") format('truetype');font-weight:normal;font-style:normal}
.titrtge{font-family:'B Titr TG E',titrtge,Verdana,Geneva,sans-serif}
@font-face{font-family:'traffic';src:url("fonts/traffic.eot");src:local('B Traffic'),url("fonts/traffic.woff") format('woff'),url("fonts/traffic.ttf") format('truetype');font-weight:normal;font-style:normal}
.traffic{font-family:'B Traffic',traffic,Verdana,Geneva,sans-serif}
@font-face{font-family:'vahid';src:url("fonts/vahidbold.eot");src:local('B Vahid'),url("fonts/vahidbold.woff") format('woff'),url("fonts/vahidbold.ttf") format('truetype');font-weight:normal;font-style:normal}
.vahid{font-family:'B Vahid',vahid,Verdana,Geneva,sans-serif}
@font-face{font-family:'yagut';src:url("fonts/yagut.eot");src:local('B Yagut'),url("fonts/yagut.woff") format('woff'),url("fonts/yagut.ttf") format('truetype');font-weight:normal;font-style:normal}
.yagut{font-family:'B Yagut',yagut,Verdana,Geneva,sans-serif}
@font-face{font-family:'yas';src:url("fonts/yas.eot");src:local('B Yas'),url("fonts/yas.woff") format('woff'),url("fonts/yas.ttf") format('truetype');font-weight:normal;font-style:normal}
.yas{font-family:'B Yas',yas,Verdana,Geneva,sans-serif}
@font-face{font-family:'yekan';src:url("fonts/yekan.eot");src:local('B Yekan'),url("fonts/yekan.woff") format('woff'),url("fonts/yekan.ttf") format('truetype');font-weight:normal;font-style:normal}
.yekan{font-family:'B Yekan',yekan,Verdana,Geneva,sans-serif}
@font-face{font-family:'zar';src:url("fonts/zar.eot");src:local('B Zar'),url("fonts/zar.woff") format('woff'),url("fonts/zar.ttf") format('truetype');font-weight:normal;font-style:normal}
.zar{font-family:'B Zar',zar,Verdana,Geneva,sans-serif}
@font-face{font-family:'ziba';src:url("fonts/ziba.eot");src:local('B Ziba'),url("fonts/ziba.woff") format('woff'),url("fonts/ziba.ttf") format('truetype');font-weight:normal;font-style:normal}
.ziba{font-family:'B Ziba',ziba,Verdana,Geneva,sans-serif}
@font-face{font-family:'andalus';src:url("fonts/andalus.eot");src:local('Andalus'),url("fonts/andalus.woff") format('woff'),url("fonts/andalus.ttf") format('truetype');font-weight:normal;font-style:normal}
.andalus{font-family:'Andalus',andalus,Verdana,Geneva,sans-serif}
@font-face{font-family:'arshia';src:url("fonts/arshia.eot");src:local('Arshia'),url("fonts/arshia.woff") format('woff'),url("fonts/arshia.ttf") format('truetype');font-weight:normal;font-style:normal}
.arshia{font-family:'Arshia',arshia,Verdana,Geneva,sans-serif}
@font-face{font-family:'iraniansans';src:url("fonts/iraniansans.eot");src:local('Iranian Sans'),url("fonts/iraniansans.woff") format('woff'),url("fonts/iraniansans.ttf") format('truetype');font-weight:normal;font-style:normal}
.iraniansans{font-family:'Iranian Sans',iraniansans,Verdana,Geneva,sans-serif}
@font-face{font-family:'kamran';src:url("fonts/kamran.eot");src:local('B Kamran'),url("fonts/kamran.woff") format('woff'),url("fonts/kamran.ttf") format('truetype');font-weight:normal;font-style:normal}
.kamran{font-family:'B Kamran',kamran,Verdana,Geneva,sans-serif}
@font-face{font-family:'setareh';src:url("fonts/setareh.eot");src:local('B Setareh'),url("fonts/setareh.woff") format('woff'),url("fonts/setareh.ttf") format('truetype');font-weight:normal;font-style:normal}
.setareh{font-family:'B Setareh',setareh,Verdana,Geneva,sans-serif}
@font-face{font-family:'tawfig';src:url("fonts/tawfig.eot");src:local('B Tawfig'),url("fonts/tawfig.woff") format('woff'),url("fonts/tawfig.ttf") format('truetype');font-weight:normal;font-style:normal}
.tawfig{font-family:'B Tawfig',tawfig,Verdana,Geneva,sans-serif}
